.events-year {
  font-size:50px;
  color:white;
  text-align:center;
}

.events {
  display:flex;
  justify-content:space-evenly;
  flex:wrap;
}

.event {
  display:flex;
  flex-direction:column;
  max-width:300px;
  border:5px solid black;
  text-decoration:none;
  transition: 0.3s;
}

.event-image {
  transform:scale(0.7);
}

.event-name {
  font-family: Dosis;
  font-size:30px;
  color:white;
  text-align:center;
}

.event-date {
    font-family: Dosis;
    font-size:20px;
    color:white;
    text-align:center;
}

.event-description {
    font-family: Dosis;
    font-size:20px;
    color:white;
    padding-left:10px;
}

.event:hover {
    background-color: var(--lightgray);
    transform:scale(1.1);
}
