#welcome {
    font-family: Bebas Neue;
    font-size:min(100px,10vmax);
    color:var(--whiteurbana);
    margin:0px;
}

#introduction {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top:4vw;
    margin-left:10vw;
    margin-right:10vw;
}

#urbana-logo {
    max-height: 20vw;
    min-width: 200px;
    flex-basis: 200px;
    object-fit: contain;
    flex-shrink: 1;
    flex-grow: 1;
}

#introduction-description {
    display:flex;
    flex-direction:column;
    flex-basis: 350px;
    min-width: 350px;
    flex-shrink: 1;
    flex-grow: 1;
}

#introduction-title {
    font-family: Bebas Neue;
    font-size:3vmax;
    color:var(--whiteurbana);
}

#introduction-text {
    font-family: Dosis;
    font-size:max(15px,1.5vmax);
    color:var(--whiteurbana);
    margin:0px;
}