.slideshow-button-div {
    height: 60vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-button {
    width: 100%;
    height: 100%;
    border: 0;
    background: inherit;
    transition: 0.3s;
}

#slides {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.content {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.slide {
    height: 50vh;
}

.arrow {
    width: 3vw;
    opacity: 1;
    transition: 0.3s;
}

.arrow:hover {
    opacity: 0.3;
}

#position {
    margin-bottom: 0;
    color: var(--whiteurbana);
}