.spnsr-group {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap: 6vw 10vw;
}

.spnsr {
    width: 20vw;
    min-width: 250px;
    transition: 0.2s;
} 

.spnsr-link {
    text-align:center;
    max-width:min-content;
    animation: fadeInAnimation 1s;
    animation-fill-mode: backwards;;
    animation-delay: calc(100ms * var(--order) + 100ms);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);   
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
     }
}

.spnsr:hover {
    transform: scale(1.1);
}
