#sub-teams {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    color: white;
}

.description {
    text-align: center;
    opacity: 0;
    font-family: Dosis;
    font-size: 100%;
    transition: 0.3s;
}

.icons {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.description-div {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40%;
    align-items: start;
    overflow: hidden;
}

.teams {
    text-decoration: none;
    color: inherit;
}

.teams:nth-child(even){
    margin-right: 6vw;
}

.mentors{
    width: 88vw;
    height: 60vh;
    background: var(--lightgray1);
}

.students {
    width: 41vw;
    height: 60vh;
    background: var(--lightgray2);
    float: left;
}

.sub-team-div {
    margin-bottom: 6vw;
    border-radius: 1vw;
    border: 3px solid white;
    transition: 0.3s;
}

.sub-team-div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.sub-team-div:hover img {
    transform: translateY(-5vh);
}

.sub-team-div:hover .description {
    opacity: 1;
}

img {
    transition: 0.3s;
}

.subteam-name {
    margin: 0;
}

.icon {
    width: 10vw;
    height: auto;
}
